body{
    background:#ADEBB3;
    color: #BA8E23;
    margin: 100px;
}
p{
    color: #000000;
}
.noun{
    font-weight: 900;
    color: #008B8B;
}
p.noun{
    color:grey;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;

}
span.wrong { color: red; }